# gradle
.gradle/
build/
out/
classes/

# eclipse and vscode
*.launch
.settings/
bin/
.classpath
.project

# intellij
.idea/
*.iml
*.ipr
*.iws

# apple: think different:tm:
*.DS_Store

# run configurations
run/